<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<style>
* {box-sizing: border-box}
body {font-family: "Lato", sans-serif;}

/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height:580px;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 10px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
  height:78px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 635px;
}
</style>
</head>
<body>



    {% include 'navbar.html' %}
<div class="tab">
  <button class="tablinks" onclick="openRelief(event, 'London')" id="defaultOpen">To improve relationship</button>
  <button class="tablinks" onclick="openRelief(event, 'Paris')">Therapy Techniques</button>
  <button class="tablinks" onclick="openRelief(event, 'Tokyo')">Books</button>
  <button class="tablinks" onclick="openRelief(event, 'video')" > Videos</button>

</div>

<div id="London" class="tabcontent">
  <h2>To improve Relationship</h2>
  <p>
      <ul>
          <li>To improve Relationship with your partner go through following tips:</li>
<ol>
           <li>Spend time doing enjoyable things together.</li>
           <li>Show him that you appreciate him/her.</li>
           <li>Do small things for him.You don’t have to make a sweeping romantic gesture to get your relationship back on track. Small things are sometimes more meaningful than large gestures. Start doing small, thoughtful things for your partner when you are together. This will show him that you care, pay attention, and think about him.</li>
           <li>Work on your communication<br>
            This might seem obvious, but if you’ve been with someone for awhile, you may take certain things for granted. You may have stopped sharing things with one another, asking each other questions, or telling each other things that have changed. Get to know your partner again by making an effort to talk</li>
            <li>Fight Better<br>
            While nobody wants to argue with someone they love, disagreements are, in fact, healthy. It’s how you fight, and if you fight fairly and constructively, that matters.</li>
            <li>Focus on the Positives<br>
            Healthy and happy marriages offer a rich climate of positivity. For every negative interaction during conflict, a stable and happy marriage has five or more positive interactions.</li>
           </ol>


        </ul>
        <iframe width="400" height="250" src="https://www.youtube.com/embed/98d_PBk218c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


    </p>
</div>

<div id="Paris" class="tabcontent">
  <h2>Couple Therapy Techniques</h2>
  <p>
    <ul>
      <li>If you’re looking to engage in self-improvement and enhance your relationship, there’s a multitude of techniques and exercises at your fingertips</li>
<ol>
      <li>Reflective listening:<br>
        “Reflective listening is a highly beneficial exercise where the couple take turns being active listeners,” says Laura Louis, a licensed psychologist at <strong><a href="https://www.atlantacoupletherapy.com/">
          Atlanta Couple Therapy </a></strong><br>

        Use “I” phrases instead of “you” statements. For example, say “I feel hurt when you do X” instead of “You’re wrong for doing X.”

        “When couples take turns being active listeners, it boosts healthy communication skills as well as conflict resolution skills for the couple,” Louis says.</li><br>
        <li>Emotionally focused therapy:<br>
          Many therapists use a method called emotionally focused therapy (EFT).

          The goal is for couples “to identify maladaptive patterns within the relationship that are interfering with secure bonds and attachments,” says Ansley Campbell, a clinical director at <strong><a href="https://thesummitwellnessgroup.com/staff/ansley-campbell/">
            The Summit Wellness Group </a></strong><br>

          People “learn and utilize techniques to heal or create safe and secure attachments within the relationship,” she explains.</li><br>
          <li>Solution-focused therapy:<br>
            If you’re experiencing a particular issue or want to work toward a specific goal, solution-focused therapy is a model to consider.

            According to the <strong><a href="https://solutionfocused.net/what-is-solution-focused-therapy/">
              Institute for Solution-Focused Therapy </a></strong><br>, the practice is “a short-term goal-focused evidence-based therapeutic approach which helps clients change by constructing solutions rather than dwelling on problems.”</li><br>
              <li>Imago relationship therapy:<br>
                <strong><a href="https://www.healthline.com/health/relationships/imago-therapy">
                  Imago relationship therapy </a></strong>, developed by Dr. Harville Hendrix and Dr. Helen LaKelly Hunt in 1980, emphasizes the connection between adult relationships and childhood experiences.

              By understanding childhood trauma, the therapy seeks to make couples more empathetic and understanding of one another.</li>
</ol>
    </ul>
  </p>

</div>

<div id="Tokyo" class="tabcontent">
  <h2>Books</h2>
  <p><ul>
      <li>You can read book from the following suggestions</li>

      <ol>
          <li>
            <p><strong><a href="https://bookshop.org/books/when-sorry-isn-t-enough-making-things-right-with-those-you-love/9780802407047?sscid=91k5_nepos&utm_source=ShareASale&utm_medium=Affiliate&utm_campaign=314743&utm_term=1535322">When Sorry Isn't Enough </a></strong> by Gary Chapman and Jennifer Thomas<br>
            There comes a time in every relationship when a screwup can't be covered by a simple sorry. Chapman and Thomas break down what makes for a meaningful apology, and how to potentially fix relationships—from romantic partners to friends and family—that feel strained. Can you guess what that includes? Yup, honesty, the trait that Campbell says is important in every bond we share.</li><br>

          <li><p><strong><a href="https://bookshop.org/books/tiny-beautiful-things-advice-on-love-and-life-from-dear-sugar/9780307949332?sscid=91k5_nerwk&utm_source=ShareASale&utm_medium=Affiliate&utm_campaign=314743&utm_term=1535322">
            Tiny Beautiful Things </a></strong> by Cheryl Strayed<br>
            Cheryl Strayed may be most famous for writing "Wild", but before she had a recognizable name, she was the anonymous advice columnist for The Rumpus. Her book "Tiny Beautiful Things" compiles the questions she received and the heartfelt advice she gave under the pen name Sugar, as well as essays she wrote about her own experiences. It's a mix of memoir and universal self-help that'll inspire personal growth and empathy for others.</li><br>

          <li><p><strong><a href="https://bookshop.org/books/the-wisdom-of-sundays-life-changing-insights-from-super-soul-conversations/9781250138064?sscid=91k5_neu66&utm_source=ShareASale&utm_medium=Affiliate&utm_campaign=314743&utm_term=1535322">
            The Wisdom of Sundays </a></strong> by Oprah Winfrey<br>
            Leave it to perennial self-help icon Oprah Winfrey to distill her favorite life lessons into one inspirational book. "The Wisdom of Sundays" condenses more than 200 hours of conversations she's had with like-minded public figures on her show, "Super Soul Sunday", to teach us how to live with more fulfillment, connection, and gratitude.

          </li><br>
          <li><p><strong><a href="https://bookshop.org/books/tell-me-more-stories-about-the-12-hardest-things-i-m-learning-to-say/9780399588396?sscid=91k5_newnl&utm_source=ShareASale&utm_medium=Affiliate&utm_campaign=314743&utm_term=1535322">
            Tell Me More </a></strong> by Kelly Corrigan<br>
            The book uses a collection of essays to show how all the different relationships in our lives include one thing: complications. By showing us that she doesn't always get it right, either, Corrigan offers up a mix of hope, humor, and approachable lessons that make the many layers of our relationships feel universal.
          </li>

      </ol>
  </li>

</ul></p>
</div>

<div id="video" class="tabcontent">
    <h2>Videos</h2>

  <iframe width="400" height="250" src="https://www.youtube.com/embed/0uLLuodEFhE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <iframe width="400" height="250" src="https://www.youtube.com/embed/_2Vqz9YLvew" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <iframe width="400" height="250" src="https://www.youtube.com/embed/hyQUTgXAB2c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  </div>

<script>
function openRelief(evt, reliefName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(reliefName).style.display = "block";
  evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>

</body>
</html>
